/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main),Arial, sans-serif;
  font-variation-settings: 'wght' var(--font-main);
  background-image: var(--background-gradient);
}

.width-clamped {
  inline-size: var(--width-clamped);
}

header {
  background-color: var(--bg-color);
  border: 2px solid rgba(0, 0, 0, 1);
  padding-block-start: clamp(122px, 122px + (8px * (100vw - 375px) / 325px), 130px);
  padding-block-end: clamp(122px, 122px + (8px * (100vw - 375px) / 325px), 130px);
  margin-block-start: 100px;
  margin-block-end: 100px;
  justify-self: center;
}

.header__logo {
  font-family: var(--font-accent);
  font-size: clamp(49px, calc(49px - (16 * 375px / 325) + (16 / 325) * 100vw), 65px);
  text-transform: uppercase;
  justify-self: center;
}

.header__title {
  font-family: var(--font-accent);
  font-size: clamp(14px, 2.769vw + 3.62px, 23px);
  text-transform: uppercase;
  margin-block-start: 20px;
  justify-self: center;
}

.card {
  background-color: var(--bg-color);
  border: 2px solid black;
  font-size: var(--font-size-main);
  justify-self: center;
  position: relative;
  margin-block-end: 50px;

}

.lable {
  font-family: var(--font-accent);
  font-size: 14px;
  text-transform: uppercase;
  -webkit-text-stroke: 2px rgb(255, 255, 255, 0.5);
  text-stroke: 2px rgb(255, 255, 255, 0.5);
  position: absolute;
  inset-inline-end: 25px;
  inset-block-start: 79px;
  mix-blend-mode: hard-light;
}

@supports not ((-webkit-text-stroke: 1px black) or (text-stroke: 1px black)) {
  .element {
    color: var(--stroke-color);
    text-shadow: 1px 1px 0 var(--stroke-color),
                 -1px -1px 0 var(--stroke-color),
                 1px -1px 0 var(--stroke-color),
                 -1px 1px 0 var(--stroke-color);
  }
}

.card__title {
  font-size: var(--font-size-main);
  padding: 4px 10px 4px 10px;
  inline-size: 100%;

}

.card__img-bus {
  inline-size: 100%;
  border: none;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.grayscal-filter {
  filter: grayscale(0.8)
}

.saturate-filter {
  filter: saturate(300%)
}

.hue-rotate-filter {
  filter: hue-rotate(30deg);
}

.invert-filter {
    filter: invert(0.8);
} 

.sepia-filter {
  filter: sepia(90%);
}

.blur-filter {
  filter: blur(0.3rem)
}

.sep-con-bri-filter {
  filter: sepia(1) contrast(3) brightness(220%);
}

.card__text-content {
  margin: 25px 25px 0px 25px;
  font-weight: 410;
  letter-spacing: 0.7px;
}

.card__btns-conteiner {
   text-align: right;
   margin: 25px;
   display: flex;
   justify-content: end;
}

.btn {
  all: unset;
  position: relative;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  transition: color 0.3s ease, box-shadow 0.3s ease;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  box-shadow: 0px 0px 0 var(--accent-color);
}

.btn:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left; 
  transition: transform 0.4s ease-out;
}

.btn:hover::before {
  transform: scaleX(1);   
}

.btn:hover .button__text {
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 90%;
  position: relative;
  color: var(--bg-color);
  z-index: 2;
  mix-blend-mode: difference;
} 

.btn:hover .floppy-svg {
  position: relative;
  stroke: var(--bg-color);
  z-index: 2;
  mix-blend-mode: difference;
} 

.card__like-button {
  padding: 10px 35px 10px 35px;
}

 .card__icon-button {
  all: unset;
  border: none;
  display: inline-block;
  justify-self: center;
  margin-inline-end: 12px;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}  



.like-icon {
  /* transform-origin: center; */
  cursor: pointer;
  position: relative;
}

.like-icon .sparks {
  opacity: 0;
}

.like-icon .contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked {
  animation: change-scale 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: change-opacity 0.3s 0.3s ease-in;
}

/* .card__icon-button:focus-visible {
  border-color: var(--accent-color);
} */
 
.button__text {
  display: inline-block;
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 90%;
}

.save-button {
  justify-self: center;
  display: grid;
  grid-template-rows: auto auto;
  margin-block-end: 100px;
  justify-items: center;
  padding: 17px 20px 17px 20px;
}

@media (1440px <= width) {
  .save-button {
    grid-template-rows:  1fr;
    grid-template-columns: auto auto;
    gap: 8px;
    align-items: center;
  }
}

.modal {
  display: none;
}

.modal[open] {
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  position: relative;
  inline-size: 341px;
  padding: 30px 40px 30px 40px;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__text {
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.floppy-svg {
  align-self: center;
  margin-block-end: 8px;
}

.modal-close-btn {
  grid-column: 1/3;
  justify-self: center;
  inline-size: 100%;
  text-transform: uppercase;
  padding-block-end: 12.5px;
  padding-block-start: 12.5px;
  margin-block-start: 10px;
}

.modal-close-btn:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
} 