/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main),Arial, sans-serif;
  font-variation-settings: 'wght' var(--font-main);
  background-image: var(--background-gradient);
}

.width-clamped {
  inline-size: var(--width-clamped);
}

header {
  background-color: var(--bg-color);
  border: 2px solid rgba(0, 0, 0, 1);
  padding-block-start: clamp(122px, 122px + (8px * (100vw - 375px) / 325px), 130px);
  padding-block-end: clamp(122px, 122px + (8px * (100vw - 375px) / 325px), 130px);
  margin-block-start: 100px;
  margin-block-end: 100px;
  justify-self: center;
}

.header__logo {
  font-family: var(--font-accent);
  font-size: clamp(49px, calc(49px - (16 * 375px / 325) + (16 / 325) * 100vw), 65px);
  text-transform: uppercase;
  justify-self: center;
}

.header__title {
  font-family: var(--font-accent);
  font-size: clamp(14px, 2.769vw + 3.62px, 23px);
  text-transform: uppercase;
  margin-block-start: 20px;
  justify-self: center;
}

.card {
  background-color: var(--bg-color);
  border: 2px solid black;
  font-size: var(--font-size-main);
  justify-self: center;
  position: relative;
  margin-block-end: 50px;

}

.lable {
  font-family: var(--font-accent);
  font-size: 14px;
  text-transform: uppercase;
  -webkit-text-stroke: 2px rgb(255, 255, 255, 0.5);
  text-stroke: 2px rgb(255, 255, 255, 0.5);
  position: absolute;
  inset-inline-end: 25px;
  inset-block-start: 79px;
  mix-blend-mode: hard-light;
}

@supports not ((-webkit-text-stroke: 1px black) or (text-stroke: 1px black)) {
  .element {
    color: var(--stroke-color);
    text-shadow: 1px 1px 0 var(--stroke-color),
                 -1px -1px 0 var(--stroke-color),
                 1px -1px 0 var(--stroke-color),
                 -1px 1px 0 var(--stroke-color);
  }
}

.card__title {
  font-size: var(--font-size-main);
  padding: 4px 10px 4px 10px;
  inline-size: 100%;

}

.card__img-bus {
  inline-size: 100%;
  border: none;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.grayscal-filter {
  filter: grayscale(0.8)
}

.saturate-filter {
  filter: saturate(300%)
}

.hue-rotate-filter {
  filter: hue-rotate(30deg);
}

.invert-filter {
    filter: invert(0.8);
} 

.sepia-filter {
  filter: sepia(90%);
}

.blur-filter {
  filter: blur(0.3rem)
}

.sep-con-bri-filter {
  filter: sepia(1) contrast(3) brightness(220%);
}

.card__text-content {
  margin: 25px 25px 0px 25px;
  font-weight: 410;
  letter-spacing: 0.7px;
}

.card__btns-conteiner {
   text-align: right;
   margin: 25px;
   display: flex;
   justify-content: end;
}

.card__like-button {
  all: unset;
  border: 2px solid rgba(0, 0, 0, 1);
  padding: 10px 35px 10px 35px;
  display: inline;
}

.card__heart-button {
  all: unset;
  border: none;
  display: inline-block;
  justify-self: center;
  margin-inline-end: 12px;
}

.button__text {
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 90%;
}

.card__save-button_text {
  font-family: var(--font-accent);
  font-size: 14px;
  margin-block-start: 8px;
  line-height: 90%;
}

.card__save-button {
  all: unset;
  border: 2px solid rgba(0, 0, 0, 1);
  justify-self: center;
  display: grid;
  grid-template-rows: auto auto;
    margin-block-end: 100px;
  justify-items: center;
  padding: 17px 20px 17px 20px;
  background-color: var(--bg-color);
}


@media (1440px <= width) {
  .card__save-button {
    grid-template-rows:  1fr;
    grid-template-columns: auto auto;
    gap: 8px;
    align-items: center;
  }
}




.modal {
  display: none;
}

.modal[open] {
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  position: relative;
  inline-size: 341px;
  padding: 30px 40px 30px 40px;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__text {
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.floppy-svg {
  align-self: center;
}

.modal-close-btn {
  grid-column: 1/3;
  border: 2px solid rgba(0, 0, 0, 1);
  justify-self: center;
  inline-size: 100%;
  font-family: var(--font-accent);
  font-size: 14px;
  text-transform: uppercase;
  padding-block-end: 12.5px;
  padding-block-start: 12.5px;
  margin-block-start: 10px;
}