/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/


.page {
  font-family: var(--font-main),Arial, sans-serif;
  background-image: var(--background-gradient);
  background-attachment: fixed;
  background-repeat: no-repeat; 
  background-size: cover;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--font-weight-main);
}

.width-clamped {
  inline-size: var(--width-clamped);
}

header {
  justify-self: center;
  margin-block-start: 100px;
  margin-block-end: 95px;
  border: 2px solid var(--contour-color);
  padding-block-start: clamp(122px, 122px + (8px * (100vw - 375px) / 325px), 130px);
  padding-block-end: clamp(120px, 120px + (8px * (100vw - 375px) / 325px), 130px);
  background-color: var(--bg-color);
}

.header__logo {
  justify-self: center;
  font-family: var(--font-accent);
  font-size: clamp(49px, calc(49px - (16 * 375px / 325) + (16 / 325) * 100vw), 65px);
  text-transform: uppercase;
}

.header__title {
  justify-self: center;
  margin-block-start: 25px;
  font-family: var(--font-accent);
  font-size: clamp(14px, 2.769vw + 3.62px, 23px);
  text-transform: uppercase;
}

.card {
  position: relative;
  justify-self: center;
  margin-block-end: 50px;
  border: 2px solid var(--contour-color);
  font-size: var(--font-size-main);
  background-color: var(--bg-color);
}

.lable {
  position: absolute;
  font-family: var(--font-accent);
  font-size: 14px;
  text-transform: uppercase;
  -webkit-text-stroke: 2px rgb(255, 255, 255, 0.5);
  text-stroke: 2px rgb(255, 255, 255, 0.5);
  inset-inline-end: 25px;
  inset-block-start: 75px;
  mix-blend-mode: hard-light;
  z-index: 1;
}

@supports not ((-webkit-text-stroke: 1px black) or (text-stroke: 1px black)) {
  .element {
    color: var(--stroke-color);
    text-shadow: 1px 1px 0 var(--stroke-color),
                 -1px -1px 0 var(--stroke-color),
                 1px -1px 0 var(--stroke-color),
                 -1px 1px 0 var(--stroke-color);
  }
}

.card__title {
  padding: 4px 10px 4px 10px;
  font-size: var(--font-size-main);
  letter-spacing: 0px;
  inline-size: 100%;
  font-variation-settings: 'wght' var(--font-weight-accent);
}

.card__img {
  margin-block-end: 20px;
  border: none;
  border-top: 1px solid var(--contour-color);
  border-bottom: 1px solid var(--contour-color);
  inline-size: 100%;

}

.grayscal-filter {
  filter: grayscale(0.8);
}

.saturate-filter {
  filter: saturate(300%);
}

.hue-rotate-filter {
  filter: hue-rotate(30deg);
}

.invert-filter {
    filter: invert(0.8);
} 

.sepia-filter {
  filter: sepia(90%);
}

.blur-filter {
  filter: blur(0.3rem);
}

.sep-con-bri-filter {
  filter: sepia(1) contrast(3) brightness(220%);
}

.card__text-content {
  margin: 0px 25px 24px 25px;
  font-weight: 410;
  font-variation-settings: 'wght' var(--font-weight-main);
}

.card__btns-conteiner {
  display: flex;
  justify-content: end;
  height: auto;
  margin: 25px;
  text-align: right;
  height: max-content;
}

.btn {
  all: unset;
  position: relative;
  display: inline-block;
  border: 2px solid var(--accent-color);
  box-shadow: 0px 0px 0 var(--accent-color);
  overflow: hidden;
  text-align: center;
  background-color: var(--bg-color);
  transition: color 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
  cursor: pointer;
}

.btn:focus {
  box-shadow: 2px 2px 0 var(--accent-color);
  outline: none;
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color); 
  transition: transform 0.4s ease-out;
  transform: scaleX(0);
  transform-origin: left;
}

.btn:hover::before {
  transform: scaleX(1);   
}

.button__text {
  position: relative;
  z-index: 2;
  color: var(--bg-color);
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
  justify-self: center;
  display: inline-block;
  margin: 0;
}

/* .test-container {
  width: 200px;
  background-color: rgb(0, 0, 0);
}
.test {
  color: white;
  z-index: 2;
  font-size: 33px;
  margin-left: 70px;
  mix-blend-mode: difference;
  border: 1px solid red;
} */

.card__like-button {
  padding-block-start: 11px;
  padding-block-end: 11px;
  height: max-content;
  display: flex;
  align-self: center;
  align-items: center;
  inline-size: 126px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__icon-button {
  all: unset;
  display: flex;
  margin-inline-end: 7px;
  border: 2px solid rgba(255, 255, 255, 0);
  transition: border 0.3s ease;
}  

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.like-icon {
  position: relative;
  cursor: pointer;
}

.like-icon .sparks {
  opacity: 0;
}

.like-icon .contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked {
  animation: change-scale 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: change-opacity 0.3s 0.3s ease-in;
}
 
.save-button {
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
  justify-self: center;
  margin-block-end: 100px;
  padding: 17px 20px 14px 20px;
}

.floppy-svg {
  position: relative;
  z-index: 2;
  stroke: var(--bg-color);              
  color: var(--bg-color);       
  mix-blend-mode: difference;
  align-self: center;
  margin-block-end: 8px;
}

.modal {
  display: none;
}

.modal[open] {
  position: fixed;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 20px;
  padding: 30px 40px 30px 40px;
  inline-size: 341px;
  min-inline-size: 341px;
}

body.modal-open {
  overflow: hidden;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 0;
  margin: 0;
}

.modal__text {
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  text-align: justify;
 }

.floppy-svg-modal {
  position: relative;
  z-index: 2;
  stroke: var(--accent-color);
  align-self: center;
  margin-block-end: 8px;
} 

.modal-close-btn {
  grid-column: 1/3;
  justify-self: center;
  margin-block-start: 8px;
  padding-block-start: 6px;
  padding-block-end: 8px;
  text-transform: uppercase;
  inline-size: 100%;
  block-size: max-content;
  align-self: center;
}

.modal-close-btn:focus {
  box-shadow: 2px 2px 0 var(--accent-color);
  outline: none;
} 

@media (1440px <= width) {
  .save-button {
    grid-template-columns: auto auto;
    grid-template-rows:  1fr;
    align-items: center;
    gap: 8px;
  }

  header {
    margin-block-end: 90px;
  }

  .lable {
    inset-block-start: 55px;
  }

  .card__img {
    margin-block-end: 17px;
  }

  .save-button {
    padding: 10px 15px 6px 15px;
  }

  .modal[open] {
    padding: 30px 30px 30px 30px;
    inline-size: 353px;
  }

  .modal__text {
    padding-inline-end: 10px;
    text-align: left;
  }
}